<h2>I want upload a new property!</h2>
<form method=post action=/property/view>
	<input type="text" name="title" placeholder="title"><br>
	<input type="integer" name="price" placeholder="price"><br>
	<input type="text" name="description" placeholder="description">
	<input type=submit value="Submit">
</form>