<h2>Hello welcome to your homepage's <%= @user.name %></h2>

Welcome <%=@user.name%> <a href="/property/new"><button> post property?</button>

<a href="/logout"><button>Logout</button></a>

<%= @property %>